<h2 *ngIf="!(cartCount|async)">Cart is empty. Add items to the cart</h2>
<div class="col-md-6">
    <div *ngIf="cartCount|async" class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <ul *ngFor="let item of (items | async)">
                    <li *ngIf="item.addedToCart">
                        <div class="list-group-item clearfix">
                            <div class="pull-left">
                                <h4 class="list-group-item-heading">{{item.name}}</h4>
                                <p class="list-group-item-text">{{item.description}}</p>
                            </div>
                            <div class="pull-right">
                                <a (click)="checkoutItem(item.id)" class="btn btn-success checkoutButton">Checkout</a>
                                <a (click)="removeItem(item.id)" class="glyphicon glyphicon-remove" id="removeIcon"></a>

                            </div>
                        </div>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>