<div class="col-md-offset-1">
  <a class="btn btn-success" [routerLink]="['new']">New Item</a>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <ul *ngFor="let item of (items | async)">
        <li>
          <a [routerLink]="item.id" class="list-group-item clearfix" routerLinkActive="active">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{item.name}}</h4>
              <p class="list-group-item-text">{{item.description}}</p>
            </div>
          </a>
        </li>
      </ul>
    </ul>
  </div>
</div>