<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!itemForm.valid">Save</button>
          <a class="btn btn-danger" (click)="navigateBack()">Cancel</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" rows="6" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" id="category" class="form-control" formControlName="category">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>