<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedItem?.name}}</h1>
    <p>{{selectedItem?.description}}</p>
    <p>Category: {{selectedItem?.categoryName}}</p>
  </div>

</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" *ngIf="!selectedItem.addedToCart" (click)="addToCart()">Add to Cart</button>
    <button class="btn btn-danger" *ngIf="selectedItem.addedToCart" (click)="removeFromCart()">Remove from Cart</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>